<ng-template #popoverTemplate>
  <div
    class="sky-popover-container"
    [ngClass]="cssClassNames"
    #popoverContainer
  >
    <div
      class="sky-popover sky-shadow sky-rounded-corners"
      tabindex="0"
    >
      <div
        class="sky-popover-body sky-padding-even-default"
      >
        <ng-content></ng-content>
      </div>
      <div
        aria-hidden="true"
        class="sky-popover-arrow"
        [style.left.px]="arrowLeft"
        [style.top.px]="arrowTop"
        #popoverArrow
      ></div>
    </div>
  </div>
</ng-template>
