<!-- <animation-test
 #componentRef
></animation-test>

<button style="position:fixed;z-index:10000;" type="button" (click)="onClick()">Toggle</button> -->

<!-- <animation-test-content
  [isOpen]="isOpen"
></animation-test-content> -->

<div style="padding: 150px;height:1500px;width:2000px;">
  <button
    type="button"
    [skyPopover]="myPopover"
    skyPopoverTrigger="mouseenter"
  >
    Open popover
  </button>
</div>

<sky-popover #myPopover>
  Popover content from beyond the grave!
</sky-popover>